<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python_Todo</title>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <script type="text/javascript" src="../static/index.js" defer></script>
  <body>
    <form id="form">
      <div>
        <label for="description">Create a Todo</label>
      </div>
      <div>
        <input
          type="text"
          id="description"
          name="description"
          placeholder="Enter a todo"
        />
        <input type="submit" id="submit" value="Create" />
        <!-- <button type="submit" id="submit">Submit</button> -->
        <span id="error" class="hidden"></span>
      </div>
    </form>
    <ul id="todo-list">
      {% for d in data: %}
      <li>
        <input
          type="checkbox"
          name="completed"
          class="checkbox"
          data-id="{{d.id}}"
          {%
          if
          d.completed
          %}
          checked
          {%
          endif
          %}
        />
        {{d.description}}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
