<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python_Todo</title>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <script type="text/javascript" src="../static/index.js" defer></script>
  <body>
    <div id="container">
      <form id="form">
        <div id="label-container">
          <label for="description">Create a Todo</label>
        </div>
        <div class="flex">
          <input
            type="text"
            id="description"
            name="description"
            placeholder="Enter a todo"
          />
          <input type="submit" id="submit" value="Create" />
          <!-- <button type="submit" id="submit">Submit</button> -->
          <span id="error" class="hidden"></span>
        </div>
      </form>
      <ul id="todo-list">
        {% for d in data: %}
        <li id="li{{d.id}}">
          <input
            type="checkbox"
            name="completed"
            class="checkbox"
            id="{{d.id}}"
            {%
            if
            d.completed
            %}
            checked
            {%
            endif
            %}
          />
          <p class="todo">{{d.description}}</p>
          <button id="{{d.id}}" class="delete-btn">X</button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
